@import "../../shared/variables.less";


//Colores base
@sidebar-text-color: @color-light;
@sidebar-background: @color-dark;
@sidebar-lateral-color--active : @color-alternative;

//Colores derivados
@sidebar-background--active: lighten(@sidebar-background,10%);
@sidebar-sub-background: darken(@sidebar-background,5%);
@sidebar-sub-background--active: darken(@sidebar-sub-background,5%);
@sidebar-lateral-color : @sidebar-background;
@sidebar-border-color: darken(@sidebar-background,60%);

@sidebar-font-size: 17px;
@sidebar-padding: 10px;

.sidebar-menu {
    overflow: auto;
    font-family: verdana;
    font-size: @sidebar-font-size;
    background-color: @sidebar-background;
    color: @sidebar-text-color;
}
.sidebar-menu .sidebar-brand {
    background-color: @sidebar-background;
    line-height: @sidebar-padding*4;
    display: block;
    text-align: center;
    font-size: @sidebar-font-size;
    border-bottom: 1px solid @sidebar-border-color;   
}
.sidebar-menu .sidebar-toggle-btn {
    display: none;
}
.sidebar-menu ul {
    list-style: none;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

.sidebar-menu li {
    list-style: none;
    padding: 0px;
    padding-bottom: @sidebar-padding;
    padding-top: @sidebar-padding;
    margin: 0px;
    width: 100%;
}

.sidebar-menu ul :not(collapsed) .arrow:before,
.sidebar-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: @sidebar-padding;
    padding-right: @sidebar-padding;
    vertical-align: middle;
    float: right;
}


.sidebar-menu ul .sidebar-sub-menu li,
.sidebar-menu li .sidebar-sub-menu li {
    background-color: @sidebar-sub-background;
    border: none;
    border-bottom: 1px solid @sidebar-border-color;
    margin-left: 0px;
}
.sidebar-menu ul .sidebar-sub-menu li:hover,
.sidebar-menu li .sidebar-sub-menu li:hover {
    background-color: @sidebar-sub-background--active;
}
.sidebar-menu ul .sidebar-sub-menu li:before,
.sidebar-menu li .sidebar-sub-menu li:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: @sidebar-padding;
    padding-right: @sidebar-padding;
    vertical-align: middle;
}
.sidebar-menu li {
    padding-left: 0px;
    border-left: 3px solid @sidebar-lateral-color;
    border-bottom: 1px solid @sidebar-border-color;
}
.sidebar-menu li a {
    text-decoration: none;
    color: @sidebar-text-color;
    display: block;
    outline: 0;
}
.sidebar-menu li a i {
    padding-left: @sidebar-padding;
    width: 20px;
    padding-right: @sidebar-padding*2;
}
.sidebar-menu li:hover {
    border-left: 3px solid @sidebar-lateral-color--active;
    background-color: @sidebar-background--active;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .sidebar-menu {
        position: relative;
        width: 100%;
        margin-bottom: 0px;
    }
    .sidebar-menu .sidebar-toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: @sidebar-padding;
        top: @sidebar-padding;
        z-index: 10 !important;
        color: #000;
        width: 40px;
    }
    .sidebar-brand {
        text-align: left !important;
        font-size: @sidebar-font-size;
        padding-left: @sidebar-padding*2;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .sidebar-menu .sidebar-menu-list .sidebar-menu-content {
        display: block;
    }
}