<!DOCTYPE html>
<html lang="es" ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="II Congreso Nacional de Formación Profesional">
        <meta name="author" content="fpempresa">
        <link rel="shortcut icon" href="">

        <title>Asociaci&oacute;n de centros de FP "FPempresa"</title>       

        <link href="./lib/bootstrap/css/bootstrap.css"                 rel="stylesheet" type="text/css" />
        <link href="./lib/fontawesome/css/font-awesome.css"            rel="stylesheet" type="text/css" />
        <link href="./css/site/site.css"                               rel="stylesheet" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->




    </head>

    <body id="top"  ng-controller="IndexController" style="background-color: #F6F8F7" >   

        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation"  >
            <div class="container-fluid" >
                <div class="navbar-header">
                    <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href ng-click="animateScroll.toElement('top')">
                        <img src="./img/logo/logo.png"  alt="logo"  >&nbsp;
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">

                        <li class="hidden">
                            <a href ng-click="animateScroll.toElement('top')" fpe-click-button-on-click="buttonMenuHeader"></a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('asociacion')" fpe-click-button-on-click="buttonMenuHeader">ASOCIACION</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('bolsatrabajo')" fpe-click-button-on-click="buttonMenuHeader">BOLSA DE TRABAJO</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('inscripcion')" fpe-click-button-on-click="buttonMenuHeader">INSCRIPCI&Oacute;N</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('objetivos')" fpe-click-button-on-click="buttonMenuHeader">OBJETIVOS</a>
                        </li>               
                    </ul>
                </div>
            </div>
        </nav>

<header class="intro" style="background: #FFFFFF url(./img/site/intro-bg.jpg) no-repeat scroll center 40px;;background-size: cover ">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="brand-heading">FPempresa</h2>
                    <hr>
                    <p class="intro-text">La asociaci&oacute;n de la Formaci&oacute;n Profesional</p>
                    <p><button class="btn btn-xl form__button form__button--primary" href=""  ng-click="createAccount()"  >Inscribirse</button></p>
                    <a href ng-click="navigateWithScroll('/','inscribirse')" class="btn button-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="bolsatrabajo" class="container-fluid section__container  section--background-color-light section__container--padding">

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;BOLSA DE TRABAJO&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-dark-high ">La bolsa de trabajo de FPempresa ha unido a todos los titulados de FP y a todos los centro en un lugar com&uacute;n donde el mundo de la empresa pueda f&aacute;cilmente encontrar al candidato adecuado.</p>
            <p class="section__text  section--color-dark-high ">Los centros de FP verifican los t&iacute;tulos de sus alumnos y de esa forma dar mas valor a la bolsa de trabajo.</p>
        </div>
        <div class="col-xs-12 col-md-5 ">   
            <img src="./img/site/conjunto.png" alt="tablet" width="100%" height="100%" >
        </div>                
    </div>

</section>

   


<section id="empleo" class="container-fluid section__container  section--background-color-dark section__container--padding" style="background: url(./img/site/mapa.jpg) no-repeat top center;">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="section__main-title  section--color-light-high">&nbsp;&nbsp;POR EL EMPLEO&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-light-high ">La formación profesional tiene entre sus objetivos prioritarios la inserción laboral.</p>
            <p class="section__text  section--color-light-high ">Desde FPempresa trabajamos para conseguir unir los mundos de la FP y de la empresa.</p>

        </div>
    </div>             
</section> 




        <footer  class="container-fluid section__container  section--background-color-dark section--color-light-high">

            <p class="section__text  section--color-light-high"  >
                <a href="https://twitter.com/fp_empresa" target="_blank" class="social__icon"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;
                <a href="https://www.facebook.com/asociacion.fpempresa" target="_blank" class="social__icon"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;
                <a href="https://plus.google.com/+FPempresaNet/posts" target="_blank" class="social__icon"><i class="fa fa-google-plus-square"></i></a>
                <br>
                <br>
                &copy; 2015 Asociaci&oacute;n de centros de FP (AC-FP)
                <br>
                Desarrollo por: <a href="https://github.com/fpempresa">Lorenzo Gonz&aacute;lez <i class="fa fa-github-alt" style=" vertical-align: middle;"></i></a>
            </p> 
        </footer>


        <script type="text/javascript" src="./lib/jquery/js/jquery.js"></script>
        <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript' src='./lib/angularjs/js/angular.js'></script>      
        <script type="text/javascript" src="./lib/easing/js/jquery.easing.min.js"></script>

        <script type="text/javascript" src="index.js"></script>  
        <script type="text/javascript" src="./common/presentation/directive/clickbuttononclick.js"></script>
        <script type="text/javascript" src="./common/presentation/service/animatescroll.js"></script>        
    </body>
</html>
