<section ng-controller="CreateAccountEndController"  class="container-fluid form__page" >

    <div class="row"  >    
        <div class="col-xs-12 form--center"  >
            <h3 class="form__main-title" >&nbsp;&nbsp;Cuenta creada&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>


    <div class="row"  >
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form__container form--center" >

            <img ng-src="{{getContextPath()}}/img/icons/titulado_azul.png" alt="registro" ng-if="model.tipoUsuario === 'TITULADO'" style="text-align: center">
            <img ng-src="{{getContextPath()}}/img/icons/centro_azul.png" alt="registro" ng-if="model.tipoUsuario === 'CENTRO'" style="text-align: center">
            <img ng-src="{{getContextPath()}}/img/icons/empresa_azul.png" alt="registro" ng-if="model.tipoUsuario === 'EMPRESA'" style="text-align: center">


            <h3 class="form__title" >¡Felicidades!</h3>


            <h3 class="form__title"  ng-if="model.tipoUsuario === 'TITULADO'">Tu cuenta de FPempresa como <strong>Titulado</strong> ya est&aacute; creada</h3>
            <h3 class="form__title"  ng-if="model.tipoUsuario === 'EMPRESA'">Tu cuenta de FPempresa como <strong>Empresa</strong> ya est&aacute; creada</h3>
            <h3 class="form__title"  ng-if="model.tipoUsuario === 'CENTRO'">Tu cuenta de FPempresa como <strong>Centro Educativo</strong> ya est&aacute; creada</h3>
            
            <p class="form__text" >Ahora ya puedes pulsar en "Inicia sesi&oacute;n" para acceder a todas las ventajas que ofrece FPempresa</p>
            
            <br>                       
            <button type="button" class="btn  btn-block btn-lg form__button form__button--primary" ng-click="login()" >Inicia sesi&oacute;n</button>


        </div>  
    </div>                
</section>




