<footer ng-controller="FooterController" class="container-fluid section__container  section--background-color-dark section--color-light-high">

            <p class="section__text  section--color-light-high"  >
                <a href="https://twitter.com/fpempresa" target="_blank" class="social__icon"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;
                <a href="https://www.facebook.com/fpempresa.fpempresa" target="_blank" class="social__icon"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;
                <a href="https://plus.google.com/+FPempresaNet/posts" target="_blank" class="social__icon"><i class="fa fa-google-plus-square"></i></a>
                <br>
                <br>
                <a href="#/docs/faq" >Preguntas</a>&nbsp;|&nbsp;
                <a href="#/docs/contacto" >Contacto</a>&nbsp;|&nbsp;
                <a href="#/docs/privacidad" >Privacidad</a>&nbsp;|&nbsp;
                <a href="#/docs/terminos" >Terminos</a>&nbsp;|&nbsp;
                <a href="#/docs/asociacion" >Asociaci&oacute;n</a>
                <br>
                <br>
                &copy; 2013-<currentdate format="yyyy"></currentdate> Asociaci&oacute;n estatal de centros de FP (AEC-FP)
                <br>
                Desarrollo por: <a href="https://github.com/fpempresa">Lorenzo Gonz&aacute;lez <i class="fa fa-github-alt" style=" vertical-align: middle;"></i></a>
        </p> 
        </footer>