<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-controller="HeaderController" fpe-hide-on-scroll="{cssClassName: 'top-nav-collapse',threshold: 80,applyInPath: '/'}">
    <div class="container-fluid" >
        <div class="navbar-header">
            <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href ng-click="navigateWithScroll('/','top')">
                <img src="../img/logo/logo.png"  alt="logo"  >&nbsp;
            </a>
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li class="hidden">
                    <a href ng-click="navigateWithScroll('/','top')" fpe-click-button-on-click="buttonMenuHeader"></a>
                </li>
                <li>
                    <a  href ng-click="navigateWithScroll('/','ofrecemos')" fpe-click-button-on-click="buttonMenuHeader">Que ofrecemos</a>
                </li>
                <li>
                    <a  href ng-click="navigateWithScroll('/','empleo')" fpe-click-button-on-click="buttonMenuHeader">Por el empleo</a>
                </li>
                <li>
                    <a  href ng-click="navigateWithScroll('/','porque')" fpe-click-button-on-click="buttonMenuHeader">Por qu&eacute;</a>
                </li>
                <li>
                    <a ng-if="!user" href="#/login" fpe-click-button-on-click="buttonMenuHeader">Entrar</a>
                    <a ng-if="user"  href ng-click="homeUsuario()" fpe-click-button-on-click="buttonMenuHeader">{{user.name}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
