

<header class="intro" style="background: #FFFFFF url(./img/site/intro-bg.jpg) no-repeat scroll center center;background-size: cover ">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7">
                    <h1>II CONGRESO NACIONAL<br> DE<br> FORMACIÓN PROFESIONAL</h1>
                    <hr>
                    <h3>Propuestas para el impulso de la formación profesional</h3>
                    <p class="intro-text">Valencia 24 y 25 de Junio</p>
                    <p><button class="btn btn-xl form__button form__button--primary" href=""  ng-click="navigateWithScroll('/', 'registro')"  >REG&Iacute;STRO</button></p>
                    <a href ng-click="navigateWithScroll('/', 'registro')" class="btn button-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<section id="registro" class="container-fluid section__container section--background-color-light section__container--padding">
    <div class="row" >
        <div class="col-xs-12 col-md-12">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;REGISTRO&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>     
    <div class="row" >      
        <div class="col-xs-8 col-xs-offset-2">
            <p class="section__text  section--color-dark-high section__text--size-extrahigh">
                La inscripción se realiza a través de la página web del 
                <br>
                Centro de Formación del Profesorado específico de F. P. de la Comunidad Valenciana.
                <br>
                El cual certificará el Congreso</p>
            <br>
        </div>         
    </div>  
    <div class="row" >       
        <div class="col-xs-8 col-xs-offset-2">
            <a class="btn btn-xl form__button form__button--primary" href="http://cefire.edu.gva.es/sfp/index.php?seccion=edicion&id=5185219"  >REG&Iacute;STRATE AQUI</a>
        </div>        
    </div>

</section>        

<section id="donde" class="container-fluid section__container section--background-color-light section__container--padding">
    <div class="row" >
        <div class="col-xs-12">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;DONDE&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>     
    <div class="row" >
        <div class="col-xs-12">
            <p class="section__text  section--color-dark-high section__text--size-high"><strong>Centro Cultural de Bancaja</strong> en la Plaza de Tetuán, 23  de Valencia.</p>
            <br>
        </div>
    </div>  
    <div class="row" >
        <div class="col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.8057883177357!2d-0.3699710000000404!3d39.473715999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048b189c5843b%3A0xc37d10364cdfcbaf!2sCentro+Cultural+de+Bancaja!5e0!3m2!1ses!2ses!4v1429860634165" width="80%" height="450" frameborder="0" style="border:0"></iframe>                    
        </div>
    </div>
    <div class="row" >      
        <div class="col-xs-8 col-xs-offset-2">
            A todos los asistentes desde fuera de la Comunidad Valenciana se les reservará una habitación en un hotel próximo al lugar de realización del evento que será el Centro Cultural Bancaja de Valencia.
            El Café se servirá, a través de una empresa de catering, en una sala anexa al lugar de celebración del congreso. La comida será libre para todos los asistentes al acto.            
        </div>
    </div>

</section>  


<section id="agenda" class="container-fluid section__container section--background-color-light section__container--padding">
    <div class="row" >
        <div class="col-xs-12">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;AGENDA&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>     
    <div class="row" >      
        <div class="col-xs-8 col-xs-offset-2">
            <h3>Mi&eacute;rcoles 24 de Junio</h3>
            <p>Primera jornada de debate, discusión y elaboración de propuestas de futuro por parte de los representantes de los diferentes centros de Formación Profesional acreditados al acto.</p>


            <table class="table table-bordered table-striped">
                <tr>
                    <th style="width:  100px;text-align: center">Hora</th>
                    <th style="text-align: center" colspan="2">Actividad</th>
                </tr>
                <tr>
                    <td>16:00&nbsp;h.</td>
                    <td colspan="2">Acreditación y recogida de materiales.</td>
                </tr>
                <tr>
                    <td>16:30&nbsp;h.</td>
                    <td colspan="2">Presentación del Congreso y del Portal de la Asociación "FPempresa"</td>
                </tr>
                <tr>                    
                    <td>17:00&nbsp;h.</td>
                    <td >
                        Visitas a Centros Integrados de FP<br> 
                        CIPFP Mislata (Familias de servicios)<br>
                        CIPFP Ciudad del Aprendiz (Familias industriales)
                    </td>
                    <td >
                        COMITÉ TÉCNICO<br> (Asociación de Centros de F.P. "FPempresa")<br>
                        Discusión y elaboración de  propuestas para la mejora de la F.P. 
                    </td>
                </tr>
                <tr>                
                    <td>20:30&nbsp;h.</td>
                    <td colspan="2">Visita guiada por la Valencia medieval. ( 1 hora)</td>
                </tr>
            </table>
        </div>
    </div>  

    <div class="row" >
        <div class="col-xs-8 col-xs-offset-2">
            <h3>Jueves 25 de Junio</h3>

            <p>Segunda que se estructurará en tres partes, una institucional donde tendrán el máximo protagonismo diferentes administración educativas, otra divulgativo, donde diferentes ponentes ofrecerán su visión sobre la situación y problemática concreta del mundo de la FP y un tercer bloque formado por una mesa redonda</p>

            <table class="table table-bordered table-striped">
                <tr>
                    <th style="min: 100px;text-align: center">Hora</th>
                    <th style="text-align: center">Actividad</th>
                </tr>
                <tr>
                    <td>09:00&nbsp;h.</td>
                    <td>
                        INAGURACI&Oacute;N<br>
                        <div style="text-align: left">
                            <strong>Dª. María José Catalá</strong> – Consellera de Educación, Cultura y Deporte de la C. V.<br>
                            <strong>D. Ignacio Goirigolzarri</strong> – Bankia <br>
                            <strong>D. Ángel de Miguel Casas</strong> – Ministerio de Educación<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>09:30&nbsp;h.</td>
                    <td>
                        FORMACIÓN PROFESIONAL. RETOS EDUCATIVOS.<br>
                        <div style="text-align: left">
                            <strong>Dª Soledad Iglesias</strong> – Ministerio de Educación.<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10:10&nbsp;h.</td>
                    <td>
                        FORMACIÓN PROFESIONAL EN ESPAÑA, PASADO Y PRESENTE.<br>
                        <div style="text-align: left">
                            <strong>D. Oriol Homs</strong> – Sociólogo e investigador experto en Formación Profesional.<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11:10&nbsp;h.</td>
                    <td>
                        Pausa café
                    </td>
                </tr>
                <tr>
                    <td>11:40&nbsp;h.</td>
                    <td>
                        RADIOGRAFÍA DE LA SITUACIÓN DEL EMPLEO Y LA F. P. EN ESPAÑA.<br>
                        <div style="text-align: left">
                            <strong>D. Jorge Guelbenzu</strong> – Director General de Infoempleo<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:20&nbsp;h.</td>
                    <td>
                        CLAVES PARA UN MODELO AVANZADO DE FORMACIÓN PROFESIONAL.<br>
                        <div style="text-align: left">
                            <strong>D. Jorge Arévalo</strong> – Vice-consejero de F.P. del Gobierno Vasco<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13: 10&nbsp;h.</td>
                    <td>
                        PROPUESTAS DE MEJORA Y PRESENTACIÓN DE LA ASOCIACIÓN “FPempresa”<br>
                        <div style="text-align: left">
                            <strong>D. Joan Sarrión</strong> – Presidente de la Asociación<br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>14:00&nbsp;h.</td>
                    <td>
                        Pausa  comida (Libre)
                    </td>
                </tr>
                <tr>
                    <td>16:00&nbsp;h.</td>
                    <td>
                        MESA REDONDA<br>
                        <div style="text-align: left">
                            MODERA:<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>D. Luis García</strong> – Miembro de la Ejecutiva  de la Asociación “FPempresa”<br>
                            INTERVIENEN:<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;Ponentes y representantes de instituciones y agentes sociales.<br>
                            TEMA: <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;Propuestas de mejora para un nuevo impulso de la Formación Profesional.<br>
                        </div>
                    </td>
                </tr>   
                <tr>
                    <td>17:45&nbsp;h.</td>
                    <td>
                        CONCLUSIÓN Y CIERRE
                    </td>
                </tr>                 
            </table>
        </div>
    </div>      

</section> 

<section id="objetivos" class="container-fluid section__container section--background-color-light section__container--padding">   
    <div class="row" >
        <div class="col-xs-12">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;OBJETIVOS&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>      
    <div class="row" >        
        <div class="col-xs-8 col-xs-offset-2">
            <p class="section__text  section--color-dark-high section__text--size-low">
                Partiendo de la descripción del pasado y presente de la formación profesional, el objetivo que pretende este congreso es el de crear un debate, desde diferentes puntos de vista, que concluya con propuestas concretas sobre el diseño del modelo de FP que  mejore la competitividad de nuestra economía y el empleo  en España.
                Por otra parte, es evidente, que el congreso busca provocar el debate, la resolución de dudas, la actualización de conocimientos  y la motivación de los profesores.
                Por último, todo encuentro de estas características, también busca servir de base para compartir experiencias  y sacar conclusiones de la propia  interacción entre compañeros del mismo sector, creando una dinámica que sirva como punto de conexión entre los profesionales de la formación profesional.               
            </p>
            <p class="section__text  section--color-dark-high section__text--size-low">
                Se elaborará un documento de conclusiones que se pondrá a disposición de todos los intervinientes y se remitirá a todas las administraciones educativas y agentes sociales para su conocimiento y valoración. Así mismo, se elaborará un reportaje fotográfico que se publicará en la página web de la Asociación, donde también se publicaran los enlaces para poder ver los diferentes videos grabados de las intervenciones realizadas.                
            </p>
        </div>    

    </div>  
</section>


<section id="patrocinadores" class="container-fluid section__container section--background-color-light section__container--padding">  
    <div class="row" >
        <div class="col-xs-12 col-md-12">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;PATROCINADORES&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>     
    <div class="row" >        
        <div class="col-xs-8 col-xs-offset-2">
            <p class="section__text  section--color-dark-high section__text--size-extrahigh">
                FPempresa Bankia Generalitat Valenciana
                <br>
        </div>         
    </div>  
</section>



