

<header class="intro" style="background: #FFFFFF url(../img/site/intro-bg.jpg) no-repeat scroll center center;background-size: cover ">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="brand-heading">FPempresa</h2>
                    <hr>
                    <p class="intro-text">La mayor bolsa de trabajo espec&iacute;fica de la<br>Formaci&oacute;n Profesional</p>
                    <p><button class="btn btn-xl form__button form__button--primary" href=""  ng-click="createAccount()"  >Crear una cuenta</button></p>
                    <a href ng-click="navigateWithScroll('/','ofrecemos')" class="btn button-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<section id="novedades" class="container-fluid section__container  section--background-color-dark">
    <div class="row">
        <div class="col-lg-12">
            <p class="section__text  section--color-light-high section__text--size-low"><strong>NOVEDADES:</strong>  A&uacute;n estamos desarrollando la bolsa de trabajo de FPempresa as&iacute; que todav&iacute;a no puedes registrarte.</p>
        </div>
    </div>

</section>        

<section id="ofrecemos" class="container-fluid section__container section--background-color-light section__container--padding">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;QUE OFRECEMOS&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-dark ">En FPempresa trabajamos para ofrecer la mejor experiencia para cada usuario.</p>
            <p class="section__text  section--color-dark ">Ya seas titulado, centro educativo o empresa  tendr&aacute;s muchas ventajas con solo crearte una cuenta.</p>                   
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            <div class="expose__container">   
                <img src="../img/site/centro.png" alt="centro">
                <h4 class="expose__title">Centros Educativos</h4>
                <hr class="expose__separator">
                <p class="expose__text">Ahorra tiempo en la gesti&oacute;n de tus titulados gracias al servicio de la asociaci&oacute;n FPempresa.</p>
                <p class="expose__text">Agiliza las relaciones entre tus titulados y tus empresas con la bolsa de trabajo de la FP</p>
                <p class="expose__button"><button class="btn btn-lg btn-centro btn-warning" href=""  ng-click="login()"  >Mi bolsa de trabajo</button></p>
            </div>                    

        </div>                
        <div class="col-md-4 col-xs-12">
            <div class="expose__container">                    
                <img src="../img/site/titulado.png" alt="titulado">
                <h4 class="expose__title">Titulados</h4>
                <hr class="expose__separator">
                <p class="expose__text">Encuentra tu primer empleo con la bolsa de trabajo hecha pensando en ti, el titulado de FP </p>
                <p class="expose__text">Mejora tu curriculum con datos verificados por el propio centro donde has estudiado</p>
                <p class="expose__button"><button class="btn btn-lg btn-titulado btn-success" href="" ng-click="login()"  >Mi curriculum</button></p>
            </div>
        </div>			
        <div class="col-md-3 col-xs-12">
            <div class="expose__container">   
                <img src="../img/site/empresa.png" alt="titulado">
                <h4 class="expose__title">Empresas</h4>
                <hr class="expose__separator">
                <p class="expose__text">Ahorra tiempo con un servicio donde prima la rapidez de todo el proceso de selecci&oacute;n</p>
                <p class="expose__text">Mejora tu selecci&oacute;n de personal , con datos verificados por los propios centros educativos.</p>
                <p class="expose__button"><button class="btn btn-lg btn-empresa btn-primary" href="" ng-click="login()"  >Mis ofertas</button></p>
            </div>
        </div>

    </div>  
</section>  


<section id="empleo" class="container-fluid section__container  section--background-color-dark section__container--padding" style="background: url(../img/site/mapa.png) no-repeat top center;">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="section__main-title  section--color-light-high">&nbsp;&nbsp;POR EL EMPLEO&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-light-high ">La formación profesional tiene entre sus objetivos prioritarios la inserción laboral.</p>
            <p class="section__text  section--color-light-high ">Desde FPempresa trabajamos para conseguir unir los mundos de la FP y de la empresa.</p>

        </div>
    </div>             
</section> 

<section id="porque" class="container-fluid section__container  section--background-color-light section__container--padding">

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;&iquest;POR QU&Eacute; FPEMPRESA?&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-dark-high ">FPempresa es una asociaci&oacute;n de los mayores centros de formaci&oacute;n profesional con el objetivo de mejorar la calidad de la FP.</p>
            <p class="section__text  section--color-dark-high ">Dentro del plan global de calidad se ha creado esta bolsa de trabajo para mejorar el acceso de los titulados de FP al mundo laboral.</p>
        </div>
        <div class="col-xs-12 col-md-5 ">   
            <img src="../img/site/conjunto.png" alt="tablet" width="100%" height="100%" >

        </div>                
    </div>

</section>



